& {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 2;
}
& {
  @media (max-width: 1200px) {
    background: #00000077;
  }
}
.add-token {
  // position: absolute;
  width: 300px;
  right: 0;
}
.open-link {
  margin-left: 10px;
  width: 14px;
}
